	html {
    font-family: sans-serif;
    }      
  #col-gauche, #col-droite {
    background-color: #e9ecef;
    }
  .jumbotron-datavis {
    padding: 1rem 2rem;
    margin-bottom: 0rem;
    }
  .border-3 {
    border-width:5px !important;
    }
  .border-groove {
    border-style:groove !important;
    }
